/*.slider {
  transition-duration: s;
  position: absolute;
  display: flex;
}
.photo_slider{
  position: relative;
  height: 730px;
  width: 1024px;
  overflow: hidden;
}
.photo__image{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  }


}*/

.bt h3, button{
    font-size: 50px;
    color:#FAC90F;
    background-color:transparent;
    border:none;
  }
  .photo {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .container {
    width: 1024px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
  }
  
  .photo__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 65px;
    padding-bottom: 60px;
    position: relative;
    left: 90px;
    width: 800px;
  }
  .photo__buttons button {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    align-items:center;
    
  
  }
  .button {
  width: 237px;
  max-height: 112px;
  min-height: 111px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 15px 35px;
  gap: 10px;
  background: #FFC713;
  border-radius: 20px;
  
  }
  
  .photo__buttons .button:hover {
    color:white;
  }
  
  .button_color {
    background-color:#ff9100;
  }
  .photo__slider {
    position: relative;
    height: 760px;
    width: 1024px;
    overflow: hidden;
    left: -25px;
  }
  .slider {
    display: flex;
    width: 300%;
    position: absolute;
    left: -100%;
    transition-duration: 3s;
  }
  .photo__image {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: space-around;
  }
  .photo__image img {
  width: 300px;
  height: auto;
  }
  .arrows {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    top: calc(43% );
    opacity: 0;
    transition: all 2s;
  }
  .slider:hover + .arrows, .arrows:hover {
    opacity: 1;
  }
  .move_left {
    animation-name: move_left;
    animation-duration: 2s;
  }
  @keyframes move_left {
    0% {
      left: -100%;
   }
    100% {
      left: -200%;
   }
  }
  .move_right {
    animation-name: move_right;
    animation-duration: 2s;
  }
  @keyframes move_right {
    0% {
      left: -100%;
   }
    100% {
      left: 0%;
   }
  }
  
  @media screen and (max-width: 768px){
  
  .photo__buttons{
    left:0px;
    width: 780px;
  }
  .container{
    padding: 30px 15px;
    width: 690px;
    overflow: hidden;
  }
  .arrows{
    width: 670px;
  }
  .button {
    width: 170px;
  }
  }
  
  @media screen and (max-width: 320px){
    .container{
      padding: 0px 0px;
      width: 300px;
      
      overflow: hidden;
      
    }
    .arrows{
      width: 300px;
    }
    .photo{
      margin: 0;
    }
    .photo__buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    width: 320px;
    }
    .photo__slider{
      width: 320px;
      height: 350px;
    }
    .Name h2{
      padding: 0;
    }
    @keyframes move_left {
      0% {
        left: -50%;
     }
      100% {
        left: -100%;
     }
    }
    .move_right {
      animation-name: move_right;
      animation-duration: 2s;
    }
    @keyframes move_right {
      0% {
        left: -50%;
     }
      100% {
        left: 0%;
     }
    }
  }