#menu-toggle{
    display: none;
  }
  @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.03ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.03ms !important;
    scroll-behavior: auto !important;
  }
  }
  
  .wrapper{
  max-width: 1024px;
  margin: 0 auto;
  }
  .header {
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  padding: 0 30px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -70px;
  z-index: 2;
  position: fixed;
  width: 100%;
  max-width: 1024px;
  }
  
  .logo {  
  font-family: 'Glory';
  font-style: bold;
  font-weight: 700;
  font-size: 45px;
  color: transparent;
  line-height: 50px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 2px #FAC90F;
  text-decoration: none;
  }
  
  .navigation {
  display: flex;
  column-gap: 40px;
  }
  
  .menu__item:hover{
    color:#FAC90F;
  }
  
  .menu__item {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
  }
  
  .firstInfo {
  height: 768px;
  background-image: url(assets/jpg/first_parrot.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  align-items: flex-end;
  gap: 45px;
  padding-top: 100px;
  }
  .firstInfo > a:hover { 
    color: #fff;
  }
  .staticButton:hover{
    color: #fff;
  }
  
  .animalParkInfo {
  width: 544px;
  height: 395px;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0px 208px;
  padding: 20px 50px 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .animalParkInfo h1 {
  font-family: 'Glory';
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 134px;
  color: transparent;
  -webkit-text-stroke: 2px #FAC90F;
  }
  .animalParkInfo p {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
  }
  
  .buttonBuyTicket {
  background: #FFC713;
  border-radius: 14px;
  padding: 17px 30px;
  
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  color:#000;
  }